<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Checklist</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="app">
    <h1>start-up Tasks</h1>
    <ul id="checklist">
      <li><input type="checkbox">Collect keys and discuss previous shift</li>
      <li><input type="checkbox">Check the Red Book</li>
      <li><input type="checkbox">Log into Kipsu and stay experience</li>
      <li><input type="checkbox">Print arrivals report</li>
      <li><input type="checkbox">Make sure all cards are ran if past 80%</li>
      <li><input type="checkbox">Check inventory and high balance</li>
      <li><input type="checkbox">Log into third party websites</li>
      <li><input type="checkbox">Remove Email from third parties</li>
      <li><input type="checkbox">Check Gmail</li>
      <li><input type="checkbox">Count Drawer</li>

    </ul>

    <h1>Daily Jobs</h1>
    <ul id="checklist">
      <li><input type="checkbox">Clean up front desk area</li>
      <li><input type="checkbox">Check Coffee station</li>
      <li><input type="checkbox">Pool and fitness</li>
      <li><input type="checkbox">Fill up fridge</li>
    </ul>

    <h1>Welton Jobs</h1>
    <ul id="checklist">
      <li><input type="checkbox">Check the printers</li>
      <li><input type="checkbox">Parking keys</li>
      <li><input type="checkbox">Fill up spray bottles</li>

    </ul>
    <h1>Reminders</h1>
    <ul id="checklist">
      <li><input type="checkbox">Assign non Hilton Honors to lower floors</li>
      <li><input type="checkbox">Tell guests about Housekeeping and check-out time</li>
      <li><input type="checkbox"></li>
    </ul>

    <h1>Closing out</h1>
    <ul id="checklist">
      <li><input type="checkbox">Trash and coffee</li>
      <li><input type="checkbox">Drop money</li>
      <li><input type="checkbox">Leave front desk keys</li>
      <li><input type="checkbox">Microwave and toilet paper</li>
      <li><input type="checkbox">Put checklist away </li>

    </ul>
  </div>
  <script src="script.js"></script>
</body>
</html>
